*{
    padding: 0;
    margin: 0;
    font-family:Arial;
    background: white;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.menu_top {
    
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content:right;
}
.menu{
    display: flex;
}
.logo{
    display: flex;
    margin-left: 17px;
}
header a{
    font-weight: 500;
    font-size: 10px;
    color: black;
}
.texto_menu {
    padding-right: 19px;
    display: flex;
    align-items: center;
}
.container {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.serch_bar{
    border: 2px solid gray;
    border-radius: 20px;
    width: 420px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.bar{
    width: 380px;
    border: none;
    padding-left: 15px;
}
.mic{
    padding-right: 15px;
}
.botton{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.text_botton{
    font-size: 10px;
    margin-top: 10px;
}
footer {
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
}
.footer-header {
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    
}
.footer-header span {
    margin-left: 30px;

}
.footer-settings {
    border-top: 1px solid #e4e4e4;
    line-height: 40px; 
  
}
span a{
    color: #5F6368;
    font-size: 12px;;
}
span a:hover {
    text-decoration: underline;
}
.span-left {
    float: left;
}
.span-left a,
.span-right a {
    margin-left: 30px;

}
.span-right {
    float: right;
    margin-right: 30px;

}